body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fbe5e5;
}

header {
    background-color: #ff6b6b;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.mensaje p {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: auto;
    padding: 20px; 
    margin: 0 auto; 
    max-width: 500px;
}

.imagenes img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

.dedicatorias form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    margin: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #ff6b6b;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    header {
        font-size: 20px;
        padding: 15px;
    }
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}

.izquierda, .derecha {
    width: 150px; 
    border-radius: 10px;
}

.mensaje {
    max-width: 400px;
    font-size: 18px;
    color: #d35400;
    font-weight: bold;
    text-align: center;
}

.imagen2{
    width: 25%;
    border-radius: 10px;
}

.imagen3{
    width: 300px; 
    height: 300px;
    border-radius: 10px;
}
.imagen4{
    width: 300px; 
    height: 300px; 
    border-radius: 10px;
}